<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Review Form</title>
  </head>
  <body>
    <h1>Add New Review</h1>
    <form>
      <div class="form-group">
        <label>Rating</label>
        <input id="rating" value="<%=review.rating%>" type="number" name="rating">
      </div>

      <div class="form-group">
        <label>Bitter:</label>
        <input id="bitter" value="<%=review.bitter%>" type="number" name="bitter">
      </div>

      <div class="form-group">
        <label>Sweet:</label>
        <input id="sweet" value="<%=review.sweet%>" type="number" name="sweet">
      </div>

      <div class="form-group">
        <label>Salty:</label>
        <input id="salty" value="<%=review.salty%>" type="number" name="salty">
      </div>

      <div class="form-group">
        <label>Sour:</label>
        <input id="sour" value="<%=review.sour%>" type="number" name="sour">
      </div>


      <div class="form-group">
        <label>Savory:</label>
        <input id="savory" value="<%=review.savory%>" type="number" name="savory">
      </div>

      <div class="form-group">
        <label >Thoughts:</label>
        <input id="thoughts" value="<%=review.thoughts%>" type="text" name="thoughts">
      </div>

      <div class="form-group">
        <input type="hidden" id="drink-id" value="<%= drink_id %>">
      </div>

      <div class="form-group">
        <input type="hidden" id="review-id" value="<%= review._id %>">
      </div>

      <div class="form-group">
        <button id='edit-review' type="submit">Submit</button>
      </div>

    </form>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/editReview.js" type="text/javascript">

    </script>
  </body>
</html>
